body {

    display: grid;
    grid-template-columns: 1fr minmax(20rem , 60rem) 1fr;
    gap: 2rem;

    background: url(inc/img/background.jpg);
    background-size: cover;
    background-position: center;

}

header {

    grid-column: 1 / span 3;
    grid-row: 1;

    padding: 1rem;

}

.mainCard {
    grid-column: 2;
    grid-row: 2;
    padding: 2rem;
    margin: 3rem 0rem 3rem 0rem;

    border-radius: 2rem;

    background-color: #00000075;
    backdrop-filter: blur(10px);

    display: grid;
    grid-template-columns: 1fr , max-content;
    grid-template-rows: repeat(8 , min-content);
    gap: 1.5rem;
}

.mainTit {
    grid-column: 1;
    grid-row: 1;

    height: min-content;
}

.mainDes {
    grid-column: 1;
    grid-row: 2 / span 2;
}

.mapCon {
    grid-column: 2;
    grid-row: 1 / span 4;

    justify-self: right;

    width: 30rem;
    height: 15rem;
}

.map {
    width: 100%;
    height: 100%;

    border-radius: 1rem;
}

.searchbar {
    grid-column: 1 / span 2;
    grid-row: 5;

    display: flex;
    flex-direction: row;
}

.searchfield {
    flex-grow: 1;

    padding-left: 1.5rem;

    border-radius: 3rem 0rem 0rem 3rem;

    background-color: #fff;
}

.searchButton {
    padding: 0.5rem 1.5rem 0.5rem 1rem;

    border-radius: 0rem 3rem 3rem 0rem;

    background-color: #fff;
}

.searchButton:hover {

    cursor: pointer;
    background-color: #9d9d9d;

}

.extraForm {
    grid-column: 1 / span 2;
    grid-row: 7;

    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
}

.extraFormBody_1 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.extraFormBody_2 {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
}

.extraInput {
    flex-grow: 1;

    padding: 0.75rem 1rem;
    border-radius: 3rem;

    color: #000;
}

.budget {
    flex-grow: 1;

    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.budgetCon {

    grid-column: 1 / span 2;
    grid-row: 8;

    width: 100%;

    display: flex;
    flex-direction: row;
    gap: 2rem;

}

.budgetInputCon {

    display: flex;
    flex-direction: row;

}

.budgetInput {
    flex-grow: 1;
    
    padding: 0.75rem 1rem;
}

.bI_1 {

    border-radius: 3rem 0rem 0rem 3rem;
    border: solid;
    border-width: 0rem 0.1rem 0rem 0rem;
    border-color: #00000050;

}

.bI_2 {

    border-radius: 0rem 3rem 3rem 0rem;

}

.search_Button {

    margin-top: 1.5rem;
    padding: 0.75rem 2rem;

    border-radius: 3rem;

    background-color: #FFCD29;

}

.Info_Con {
    grid-column: 1 / span 2;

    display: flex;
    flex-direction: column;
}

footer {

    grid-column: 1 / span 3;
    grid-row: 3;

    padding: 1rem;
    height: 10rem;

    background-color: #d9d9d9;

}